---
import BasicLayout from '../layouts/BasicLayout.astro'
import {newClient} from '../ts/plughost-client'
import {ConfigDisplay} from '../components/ConfigDisplay'
// const c = await newClient(new URL('/api', 'http://localhost:3000'))
const endpoint = new URL('/api', 'http://localhost:3000')

---
<BasicLayout title="Hello">
    <h1>Hello!</h1>
    <p>Client display follows...</p>
    <ConfigDisplay client:only="react" endpoint={endpoint} />
    <p>Client display precedes.</p>
</BasicLayout>